/* IMPORTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

:root {
  --primary: #9c89b8;
  --secondary: #f0a6ca;
  --thirdtiary: #efc3e6;
  --cuatertiary: #f0e6ef;
  --quintertiary: #b8bedd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
}

.app-container {
  background-color: var(--thirdtiary);
  display: grid;
  place-items: center;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  margin: auto;
}

h1 {
  margin: 25px;
  text-align: center;
}

ul {
  margin-bottom: 15px;
}

label {
  width: 100%;
  display: flex;
}

.gift-container {
  list-style: none;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  justify-content: space-between;
}

.gift {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
}

.gift > span {
  margin-right: 5px;
}

.gift-container > button {
  border: none;
  padding: 5px;
  font-family: inherit;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 25px;
}

form > div {
  display: flex;
  max-width: 100%;
}

form > div > input[type="text"] {
  height: 40px;
  font-family: inherit;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px 0 0 0;
  padding: 5px;
  width: 100%;
}

form > div > input[type="text"]:focus {
  outline: none;
}

form > div > input[type="number"] {
  width: 60px;
  border: none;
  border-radius: 0 10px 0 0;
  background-color: #f59fc9;
  font-family: inherit;
}

form > button {
  border: none;
  border-radius: 0 0 10px 10px;
  height: 30px;
  background-color: var(--primary);
}

form > button:hover {
  cursor: pointer;
  background-color: var(--cuatertiary);
  transition: 0.1s ease-in-out;
}

form > button:focus {
  outline: none;
}

.delete-all-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  margin-bottom: 15px;
}

.delete-all-btn:hover {
  background-color: var(--cuatertiary);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
